#services .services-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 50px;
}

#services .service {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#services .service .middle {
    flex-grow: 1;
}

.bottom {
    margin-top: 30px;
}

@media (max-width:900px) {
    #services .services-container{
        grid-template-columns: repeat(2,1fr);
    }
    #services .service .title {
        font-size: 18px;
    }
}

@media (max-width:700px) {
    #services .services-container {
        grid-template-columns: 100%;
    }
     
}